<div class="container">
<h1>餐廳後台</h1>
 
  <div class="row">
    <div class="col-md-12">
      <div>
        <%= link_to 'Restaurant', admin_restaurants_path %> |
        <%= link_to 'Categories', admin_categories_path %>
      </div>  
      <div>
        <%= link_to 'New Restaurant', new_admin_restaurant_path, class: "btn btn-primary" %>
      </div>
        <br>

        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>#</th>
              <th>餐廳分類</th>
              <th>餐廳名稱</th>
              <th>檢視</th>
              <th>編輯</th>
              <th>刪除</th>
            </tr>
          </thead>
              <tbody>
                <% @restaurants.each do |restaurant| %>
                <tr>
                  <th scope="row"><%= restaurant.id %></th>
                  <td>[<%= restaurant.category.name %>]</td>
                  <td><%= restaurant.name %></td>
                  <td>
                    <%= link_to '檢視', admin_restaurant_path(restaurant) %>
                  </td>
                  <td>
                    <%= link_to '編輯', edit_admin_restaurant_path(restaurant) %>
                  </td>
                  <td><%= link_to '刪除', admin_restaurant_path(restaurant), method: :delete, data: { confirm: "Are you sure?"} %>
                  </td>
                </tr>
                <% end %>
              </tbody>
        </table>
 
              <div class="text-center">
                <%= paginate @restaurants %>
              </div>
 
    </div>
  </div>
</div>
